#gameOver {
    margin-left: 48%;
    margin-top: 2%;
    margin-bottom: 1%;
    display: none;
}

body {
    background-color: #b7f7ff;
}
#mainView {
    /* display: flex; */
    /* fix padding */
    padding: 7% 10% 15% 10%;
    background-image: url('../assets/graphics/backgrounds/cave.gif');
    background-repeat: repeat-x;
    background-size: 80%;
}

#gameView {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* background-color: rgba(200, 200, 200, 0.0); */
}

#quizView {
    /* height: 30vh; */
    display: flex;
    margin-bottom: 10vh;
}

#battleView {
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* #scoreView {
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(200, 200, 200, 0.8);
} */

#player {
    margin-top: -15%; 
    height: 380px;
    width: auto;
    align-self: flex-start;
}

#attack {
    height: 250px;
    width: auto;
    align-self: flex-end;
}

#enemy {
    height: 250px;
    width: auto;
    align-self: flex-end;
}

#player-hp-bar {
    width: 360px;
}

#enemy-hp-bar {
    width: 365px;
}


button {
    width: 96px;
}

button.btn-primary {
    margin-right: 5px;
    /*margin-bottom: 20%;*/
}

h1 {
    /* margin-top: 5%; */
    color: white;
    text-align: center;
    font-size: 200%;
}

h3 {
    color: white;
    text-align: center;
}